.skillBackground{
    background-color:white;
}

.skillImage1{
  width: 100%; /* width of container */
  aspect-ratio:1/1; /* height of container */
    object-fit: cover;
    border: 1px solid solid black;
    margin-right:50px;
    box-shadow: -10px -8px 0px #616161;
  }
.skillImage2{
  width: 100%; /* width of container */
  aspect-ratio:1/1; /* height of container */
    object-fit: cover;
    border: 1px solid solid black;
    margin-right:50px;
    box-shadow: -10px -8px 0px #616161;
  }
.skillBox{
  width: max(1000px,55%);
  border-radius: 25px;
  background-color:#E0E0E0;
  border: 1px solid #757575;
  padding-left: 50px;
  padding-right:50px;
  padding-bottom:50px;
  height:auto;
  margin: auto;
  box-shadow: 0 19px 38px #757575    , 0 15px 12px #757575;
}
.skillBox:hover{
  box-shadow: 0 19px 38px #424242 , 0 15px 12px #424242;
}
.skillImageBox{
    width:max(15px,15%);
    min-height: 100px;
    overflow: hidden;
    height:auto;
    margin:auto;
    float:left;
    padding-right:4%;
    padding-top:3%;

}

.skillBox h1 {
  font-size:calc(25px + 2vw);
  font-family:'Times New Roman', Times, serif;
  color:#000000;
  }

.innerSkillBox {
    border-radius: 25px;
    min-height: 100px;
    overflow: hidden;
    border: 1px solid #757575;
    padding-left: 50px;
    padding-right:50px;
    height:auto;
    margin:auto;
    box-shadow: 3px 3px 6px 0px #BDBDBD  inset, -3px -3px 6px 1px #BDBDBD  inset;
    background-color:white;

}

.innerSkillBox h3{
    font-size:calc(19px + 1.3vw);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#424242;
}

.innerSkillBox ol {
    counter-reset: li; 
    list-style: none; 
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
  
.innerSkillBox ol li strong{
    border-radius: 10px;
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #EEEEEE;
    color: #424242;
    text-decoration: none;
    transition: all .3s ease-out;
    font-size:calc(18px + 0.5vw);
  }
  
.innerSkillBox ol li strong:hover {background: #424242;color:#EEEEEE;}       
.innerSkillBox ol li strong:before {
    content: counter(li);
    counter-increment: li;
    color:#424242;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: #E0E0E0;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
  }

  a {
    color:#83111e;
  }
  a:hover{
    color:#e8faff;
    transition: color .5s;
  }
.innerSkillBox ol li strong:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
  }
  
.innerSkillBox ol li strong:hover:after {
    left: -.5em;
    border-left-color: #009bcb;
  }

.innerSkillBox p{
    font-size:calc(17px + 0.5vw);
    font-family:Garamond,serif;
    color:#616161;
}

