.educationBox {
    border-radius: 25px;
    background-color:#e8faff;
    width: max(1000px,55%);
    border: 1px solid #141d61;
    padding-left: 50px;
    padding-right:50px;
    padding-bottom:50px;
    height:auto;
    margin: auto;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px #A7F3D0;
  }

.educationBox:hover{
  box-shadow: 6px 2px 16px 0px rgba(136, 165, 191, 0.48) , -6px -2px 16px 0px #028950;
}

.innerEducationBox {
    border-radius: 25px;
    min-height: 100px;
    overflow: hidden;
    border: 1px solid #141d61;
    padding-left: 50px;
    padding-right:50px;
    height:auto;
    margin:auto;
    box-shadow: 3px 3px 6px 0px #CCDBE8 inset, -3px -3px 6px 1px #EF4444 inset;
    background-color:white;

  }

.educationImage {
  width: 27%; /* width of container */
  aspect-ratio:1/1; /* height of container */
  object-fit: cover;
  border: 1px solid solid black;
  margin-right:50px;
  float:left;
  box-shadow: -10px -8px 0px #FBBF24;
  filter: brightness(140%);
  filter: contrast(140%);
}
.educationBox h1 {
  font-size:calc(25px + 1.5vw);
  font-family:'Times New Roman', Times, serif;
  color:#009bcb;
}

.educationBox h2 {
  font-size:calc(22px + 1.2vw);
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#00769b;

}

.educationBox h3 {
  font-size:calc(21px + 1vw);
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#009bcb;
}
.innerEducationBox h4 {
  font-size:calc(20px + 0.9vw);
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:#0db7eb;
}

