.navbar {
    min-width:1000px;   /*minimum width for non-ie browsers, ignored by ie*/
    width: 100% !important; /*width will autoexpand as necassary in non-ie browsers*/
    display:flex;
    justify-content:center;
    background-color: #009bcb;
    position:sticky;
    top:0;
    z-index: 100;

    padding-left: 50px;
    padding-right:50px;
    height:auto;
    margin: auto;
}
  
.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.navbar li {
    padding: 5px 10px;
    background-color: #009bcb;
}
  
.navbar li a {
    text-decoration: none;
    color:#e8faff;
    font-family: "Georgia", sans-serif;
    font-size:30px;
    padding:10px;
  
}
  
.navbar li a:hover {
    color: #e8faff;
    background-color: #0db7eb;
}
  